image: python:3.11

stages:
  - test
  - deploy

variables:
  UV_SYSTEM_PYTHON: "1"

.install_uv: &install_uv
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - export PATH="$HOME/.local/bin:$PATH"

test_flow_api:
  stage: test
  before_script:
    - apt-get update && apt-get install -y git-lfs
    - git lfs install
    - *install_uv
  script:
    - uv pip install git+https://gitlab.windenergy.dtu.dk/TOPFARM/PyWake.git@v2.6.5
    - uv pip install -e .[test]
    - pytest --durations=0 tests/
  except:
    - /^test_doc.*/

pages:
  stage: deploy
  before_script:
    - *install_uv
  script:
    - uv pip install -r docs/requirements.txt
    - sphinx-build -b html docs/source public/
  artifacts:
    paths:
      - public
  only:
    - main
    - /^test_doc.*/
